*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

:root{

    --darkBlue: #111827;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Sidebar takes 1 part, Main takes 3 parts */
    grid-template-rows: auto 1fr auto; /* Header and Footer have their natural height, Main takes remaining space */
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    grid-area: header;
    background-color: #333;
    color: #fff;
    padding: 17px;
    font-size: 4vw;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: #555;
    color: #fff;
    padding: 10px;
}

.main {
    grid-area: main;
    color: #eee;
    background-color: var(--darkBlue);
    padding: 10px;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
